<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="modal-title"><%= t('service_channels.modal_call_settings') %></h3>
    </div>

    <div class="modal-body">

      <div class="relativeWrap">
        <div class="widget widget-tabs widget-tabs-responsive margin-bottom-none box-shadow-none">
          <div class="widget-head">
            <ul>
              <li class="active">
                <a class="glyphicons earphone" href="#<%= prefix %>_call" data-toggle="tab"><i></i><%= t('service_channels.modal_call_settings') %>
                </a></li>
              <li>
                <a class="glyphicons bell" href="#<%= prefix %>_sla" data-toggle="tab"><i></i><%= t('service_channels.sla') %>
                </a></li>
              <li>
                <a class="glyphicons calendar" href="#<%= prefix %>_open_hours" data-toggle="tab"><i></i><%= t('weekly_schedules.title') %>
                </a></li>
              <li>
                <a class="glyphicons user" href="#<%= prefix %>_sender" data-toggle="tab"><i></i><%= t('service_channels.sender') %>
                </a></li>
            </ul>
          </div>
          <div class="widget-body">
            <div class="tab-content">
              <div class="tab-pane active" id="<%= prefix %>_call">
                <div class="row innerAll">
                  <%= hidden_field_tag "service_channel[#{prefix}_attributes][id]", media_channel.id %>
                  <%= fields_for "service_channel[#{prefix}_attributes]", media_channel do |settings| %>
                    <span id="manager_template_status_message"></span>
                    <div class="form-group">
                      <%= settings.text_field :group_id, :placeholder => t('service_channels.placeholder_call_group_id'), :class => 'form-control' %>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-4">
                        <div class="checkbox">
                          <label class="checkbox-custom">
                            <%= settings.check_box :send_autoreply, include_hidden: false, class: 'switch-send-autoreply' %>
                            <i class="fa fa-fw fa-square-o"></i> <%= t('service_channels.sms_autoreply') %>
                          </label>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <div class="checkbox">
                          <label class="checkbox-custom">
                            <%= settings.check_box :mark_done_on_call_action, include_hidden: false %>
                            <i class="fa fa-fw fa-square-o"></i> <%= t('service_channels.automatic_mark_as_done') %>
                          </label>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <div class="checkbox">
                          <label class="checkbox-custom">
                            <%= settings.check_box :name_check, include_hidden: false %>
                            <i class="fa fa-fw fa-square-o"></i> <%= t('service_channels.call_media_channel_settings.name_check') %>
                          </label>
                        </div>
                      </div>
                    </div>
                    <span id="autoreply_text" class="<%= 'hide' unless settings.object.send_autoreply? %>">
                          <%= render partial: 'autoreply_text', locals: {autoreply_text: @service_channel.call_media_channel.autoreply_text, prefix: prefix} %>
                        </span>
                  <% end %>
                </div>
              </div>
              <div class="tab-pane" id="<%= prefix %>_sla">
                <%= render partial: 'media_channel_sla', locals: {media_channel: media_channel, prefix: prefix} %>
              </div>
              <div class="tab-pane" id="<%= prefix %>_open_hours">
                <%= fields_for "service_channel[#{prefix}_attributes]", media_channel do |ff| %>
                  <%= render partial: 'weekly_schedule/schedule_form', locals: {f: ff, entries: media_channel.weekly_open_hours_with_empty} %>
                <% end %>
              </div>
              <div class="tab-pane" id="<%= prefix %>_sender">
                <%= render partial: 'call_settings_sender', locals: {media_channel: media_channel, prefix: prefix} %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a role="button" class="btn btn-default btn-sm save-settings-btn"><%= t('service_channels.save_call_setting_btn') %>
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>
  </div>
</div>
