<div class="modal-dialog contact-card-modal-dialog">
    <div class="modal-content">
        <div class="modal-body">

            <div class="widget widget-tabs border-bottom-none contact-card-customer">

                <div class="contact-card-customer-header"><%= t('user_dashboard.contact_card.customer') %></div>
                <div class="widget-head">
                    <ul>
                        <li class="active">
                            <a data-toggle="tab" href="#customer_basic_info_modal"><%= t('user_dashboard.contact_card.basic_information') %></a>
                        </li>
                        <li>
                            <a data-bind="click: loadCustomerTasks, css: { 'disabled-link-in-tabs': customerLoading() || customer() == null }" data-toggle="tab" href="#customer_tasks_modal"><%= t('user_dashboard.contact_card.tasks') %></a>
                        </li>
                        <!--
                        <li>
                            <a data-bind="css: { 'disabled-link-in-tabs': customerLoading() || customer() == null }" data-toggle="tab" href="#customer_calls_modal"><%= t('user_dashboard.contact_card.calls') %></a>
                        </li>
                        <li>
                            <a data-bind="css: { 'disabled-link-in-tabs': customerLoading() || customer() == null }" data-toggle="tab" href="#customer_emails_modal"><%= t('user_dashboard.contact_card.emails') %></a>
                        </li>
                        <li>
                            <a data-bind="css: { 'disabled-link-in-tabs': customerLoading() || customer() == null }" data-toggle="tab" href="#customer_chats_modal"><%= t('user_dashboard.contact_card.chats') %></a>
                        </li>
                        <li>
                            <a data-bind="css: { 'disabled-link-in-tabs': customerLoading() || customer() == null }" data-toggle="tab" href="#customer_sms_modal"><%= t('user_dashboard.contact_card.sms') %></a>
                        </li>
                        <li>
                            <a data-bind="css: { 'disabled-link-in-tabs': customerLoading() || customer() == null }" data-toggle="tab" href="#customer_web_forms_modal"><%= t('user_dashboard.contact_card.web_forms') %></a>
                        </li>
                        -->
                    </ul>
                </div>

                <div class="widget-body">
                    <div class="tab-content">

                        <!-- CUSTOMER BASIC INFORMATION HERE -->
                        <div id="customer_basic_info_modal" class="tab-pane active">
                            <%= simple_form_for Customer.new, url: "/customers/proceed_customer", remote: true, :html => {:class => 'form-horizontal'} do |f| %>
                                <% f.simple_fields_for :customer_company do |fff|%>
                                    <div class="row basic-information-row">
                                        <div class="col-md-12">
                                            <h3 data-bind="visible: !customerLoading()" class="contact-card-header"><%= t('user_dashboard.contact_card.customer_basic_information') %></h3>
                                            <h3 data-bind="visible: customerLoading" class="contact-card-header"><%= t('user_dashboard.contact_card.loading') %></h3>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.first_name') %></label>
                                                    <%= f.text_field :first_name, class: 'form-control', "data-bind" => "value: customerSafe().firstName,
                                                                                                                        disable: customerLoading" %>
                                                </div>
                                            </div>
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.company') %></label>
                                                    <i data-bind="css: {
                                                        'fa-search' : !companySearchInProgress(),
                                                        'fa-spinner fa-spin' : companySearchInProgress() }" class="contact-card-search-icon fa"></i>
                                                    <input data-bind="value: customerSafe().companyName,
                                                                        valueUpdate: ['input', 'afterkeydown'],
                                                                        hasFocus: companySearchResultsShow,
                                                                        event: { blur: companySearchFieldFocusLost,
                                                                                change: companyInputChanged},
                                                                        disable: (customer() == null) || customerLoading"
                                                                        id="company_name" type="text" class="form-control">
                                                    <a data-bind="click: removeCompanyFromModel,
                                                                    visible: customerSafe().companyId,
                                                                    css: { 'disabled-link-in-tabs': customerLoading() }" class="fa fa-times contact-card-remove-icon"></a>
                                                    <%= fff.hidden_field :id, "data-bind" => "value: customerSafe().companyId" %>

                                                    <ul data-bind="foreach: companySearchResults, visible: companySearchResultsShow">
                                                        <li>
                                                            <span data-bind="text: name + ', ' + code, click: $parent.companySearchResultClicked"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.last_name') %></label>
                                                    <%= f.text_field :last_name, class: 'form-control', "data-bind" => "value: customerSafe().lastName,
                                                                                                                        disable: customerLoading" %>
                                                </div>
                                            </div>
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.work_title') %></label>
                                                    <%= f.text_field :work_title, class: 'form-control', "data-bind" => "value: customerSafe().workTitle,
                                                                                                                        disable: customerLoading" %>
                                                </div>
                                            </div>
                                        </div>

                                        <span class="contact-card-divider"></span>

                                        <div class="col-md-6">
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.address') %></label>
                                                    <%= f.text_field :street_address, class: 'form-control', "data-bind" => "value: customerSafe().streetAddress,
                                                                                                                            disable: customerLoading" %>
                                                </div>
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.second_address') %></label>
                                                    <%= f.text_field :street_address_second, class: 'form-control', "data-bind" => "value: customerSafe().secondStreetAddress,
                                                                                                                                    disable: customerLoading" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.postal_code') %></label>
                                                    <%= f.text_field :zip_code, class: 'form-control', "data-bind" => "value: customerSafe().zipCode,
                                                                                                                        disable: customerLoading" %>
                                                </div>
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.city') %></label>
                                                    <%= f.text_field :city, class: 'form-control', "data-bind" => "value: customerSafe().city,
                                                                                                                    disable: customerLoading" %>
                                                </div>
                                            </div>
                                        </div>

                                        <span class="contact-card-divider"></span>

                                        <div class="col-md-6">
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.email_address') %></label>
                                                    <%= f.text_field :email, class: 'form-control', "data-bind" => "disable: customerLoading,
                                                                                                                    value: customerSafe().email" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group margin-none innerB">
                                                <div class="input-group">
                                                    <label><%= t('user_dashboard.contact_card.phone_number') %></label>
                                                    <%= f.text_field :phone, class: 'form-control', "data-bind" => "value: customerSafe().phone,
                                                                                                                    disable: customerLoading" %>
                                                </div>
                                            </div>
                                        </div>

                                        <%= f.hidden_field :id, "data-bind" => "value: customerSafe().id" %>


                                        <span class="contact-card-divider"></span>

                                        <div class="col-md-12">
                                            <div class="form-group innerB contact-card-bs-save-button-div">
                                                <div class="input-group">
                                                    <button data-bind="click: saveCustomer, disable: customerLoading" id="customer-save-button" class="btn btn-default contact-card-bs-button" type="button" data-loading-text="<%= t('user_dashboard.contact_card.saving') %>">
                                                        <i class="fa fa-floppy-o"></i>
                                                        <br/>
                                                        <span><%= t('user_dashboard.contact_card.save') %></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                <% end %>
                            <% end %>
                        </div>

                        <!-- CUSTOMER TASKS HERE -->
                        <div id="customer_tasks_modal" class="tab-pane contact-card-tasks">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 data-bind="visible: !customerTasksLoading()" class="contact-card-header"><%= t('user_dashboard.contact_card.task_history') %></h3>
                                    <h3 data-bind="visible: customerTasksLoading" class="contact-card-header"><%= t('user_dashboard.contact_card.loading') %></h3>
                                </div>
                                <div class="col-md-12">
                                    <ul data-bind="foreach: customerTasks">
                                        <li data-bind="css: cssLeftBorder" class="row">
                                            <div class="col-md-12">
                                                <i data-bind="css: contentHidden ? cssArrowDown : cssArrowUp" class="fa"></i>
                                                <div class="pull-left">
                                                    <span data-bind="css: iconClass" class="glyphicon contact-card-tasks-glyphicon"></span>
                                                    <span data-bind="text: name, click: $parent.customerTaskClicked" class="task-name-header"></span>
                                                </div>
                                                <span data-bind="text: date" class="pull-right"></span>
                                            </div>
                                            <div data-bind="visible: !contentHidden" class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12 contact-card-tasks-content-column">
                                                        <div>
                                                            <label for="date_created_span"><%= t('user_dashboard.contact_card.date_created') %>: </label><span data-bind="text: date" id="date_created_span"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 contact-card-tasks-content-column">
                                                        <div>
                                                            <label for="agent_fullname_span"><%= t('user_dashboard.contact_card.from') %>: </label><span data-bind="text: agentFullName" id="agent_fullname_span"></span>
                                                            <div class="clearfix"></div>
                                                            <label for="to_span">To: </label><span data-bind="text: agentFullName" id="to_span"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 contact-card-tasks-content-column">
                                                        <div>
                                                            <label for="media_channel_span"><%= t('user_dashboard.contact_card.media_channel') %>: </label><span data-bind="text: mediaChannel" id="media_channel_span"></span>
                                                            <div class="clearfix"></div>
                                                            <label for="service_channel_span"><%= t('user_dashboard.contact_card.service_channel') %>: </label><span data-bind="text: serviceChannel.name" id="service_channel_span"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 contact-card-tasks-content-column">
                                                        <div class="input-group">
                                                            <label for="reminder_textarea"><%= t('user_dashboard.contact_card.reminder') %>:</label>
                                                            <textarea class="form-control" data-bind="text: reminder.text" id="reminder_textarea" rows="5" readonly></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 contact-card-tasks-content-column">
                                                        <label for="internal_notes"><%= t('user_dashboard.contact_card.internal_notes') %>:</label>
                                                        <textarea data-bind="text: internalNotes" class="form-control" id="internal_notes" rows="5" readonly></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- CUSTOMER CALLS HERE -->
                        <div id="customer_calls_modal" class="tab-pane">
                        </div>

                        <!-- CUSTOMER EMAILS HERE -->
                        <div id="customer_emails_modal" class="tab-pane">
                        </div>

                        <!-- CUSTOMER CHATS HERE -->
                        <div id="customer_chats_modal" class="tab-pane">
                        </div>

                        <!-- CUSTOMER SMS HERE -->
                        <div id="customer_sms_modal" class="tab-pane">
                        </div>

                        <!-- CUSTOMER WEB FORMS HERE -->
                        <div id="customer_web_forms_modal" class="tab-pane">
                        </div>

                        <!-- INTERNAL HERE -->
                        <div id="customer_internal_modal" class="tab-pane">
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- modal-body -->
    </div> <!-- modal-content -->
</div> <!-- modal-dialog -->
