<% tasks_count = @data[:tasks_count][:call_channel] %>
    <div class="widget border-bottom-none">
        <h3 class="innerAll handle bg-callback border-bottom margin-bottom-none"><%= t('reports.summary_report.call') %><span class="pull-right glyphicon glyphicon-earphone"></span></h3>
        <div class="widget-body">
            <%= render :partial => 'channel_stats_piecharts', :locals => { tasks_count: tasks_count } %>
            <div class="row border-bottom  separator top border-top">
                <div class="col-xs-6 center">
                    <p class="text-small">
                        <%= t('reports.summary_report.solved') %>
                        <%= tasks_count[:ready] %>
                    </p>
                </div>
                <div class="col-xs-6 center">
                    <p class="text-small">
                        <%= t('reports.summary_report.unsolved') %>
                        <%= tasks_count[:unsolved] %>
                    </p>
                </div>
                <div class="col-xs-6 center">
                    <p class="text-small">
                        <%= t('user_dashboard.task_result.positive')%>
                        <%= tasks_count[:positive] %>
                    </p>
                </div>
                <div class="col-xs-6 center">
                    <p class="text-small">
                        <%= t('user_dashboard.task_result.negative') %>
                        <%= tasks_count[:negative] %>
                    </p>
                </div>
                <div class="col-xs-6 center">
                    <p class="text-small"><%= t('user_dashboard.task_result.neutral') %>
                        <%= tasks_count[:neutral] %>
                    </p>
                </div>
                <div class="col-xs-6 center">
                    <p class="text-small">
                        <%= t('reports.summary_report.waiting')%>
                        <%= tasks_count[:waiting] %>
                    </p>
                </div>
            </div>
            <div class="separator top center">
                <strong>
                <p><%= t('reports.summary_report.waiting_period')%>: <%= tasks_count[:avg_waiting_period] %></p>
                <p><%= t('reports.summary_report.average_process_time')%>: <%= tasks_count[:avg_processing_time] %></p>
                </strong>
            </div>
        </div>
    </div>

