<%= simple_form_for(@tavoittaja, url: super_ui_credentials_tavoittaja_path, method: :put) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, autocomplete: 'off' %>
    <%= f.input :password, as: :string, autocomplete: 'off' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Update' %>
  </div>
<% end %>
