<div class="container-fluid details">
  <div class="row">
    <div class="col-md-11 preview-content credentials-admin">
      <div class="innerLR">
        <!-- Widget -->
        <div class="widget widget-tabs border-bottom-none">
          <!-- Widget heading -->
          <div class="widget-head">
            <ul>
              <li class="<%= 'active' if @fonnecta.errors.present? || @fonnecta_form %>">
                <a
                  id="fonecta_tab"
                  href="#fonecta"
                  data-toggle="tab"
                >
                  Fonecta
                </a>
              </li>
              <li class="<%= 'active' if @tavoittaja.errors.present? %>">
                <a
                  id="tavoittaja_tab"
                  href="#tavoittaja"
                  data-toggle="tab"
                >
                  Tavoittaja
                </a>
              </li>
            </ul>
          </div>
          <div class="widget-body">
            <div class="tab-content">
              <div
                class="tab-pane fill-bg <%= 'active' if @fonnecta.errors.present? || @fonnecta_form %> %>"
                id="fonecta"
              >
                <%= render partial: 'fonecta_form' %>
              </div>
              <div
                class="tab-pane fill-bg <%= 'active' if @tavoittaja.errors.present? %> %>"
                id="tavoittaja"
              >
                <%= render partial: 'tavoittaja_form' %>
              </div>
            </div>
          </div>
        </div>
        <!-- // Widget END -->
      </div>
    </div>
  </div>
  <!-- // Content END -->
</div>

<script>
  function ResizeToFit() {
    var GetHeight = $(window).height();
    $('.credentials-admin .tab-pane').height(GetHeight - 150);
    $('.inbox-preview').height(GetHeight - 200);
  }

  $(document).ready(function () {
    ResizeToFit();
    $(window).bind('resize', ResizeToFit);
  });
</script>
