<% @skills.each do |skill| %>
  <% priority = Priority.find_by(company_id: current_user.company, tag_id: skill.id) %>
	<tr>
		<td><span class="taglabel <%= get_skill_priority_class(priority) %>"><%= skill.name %></span></td>
		<td>
	       <strong><%= (@skill_counts || {}).fetch(:skills, {}).fetch(skill.name, {}).fetch(:tasks, 0) %></strong>
	     </td>
		<td>
            <%= form_tag destroy_skills_agent_path(@user), method: :delete, remote: true do %>
              <input type="hidden" name="tag" value="<%= skill.name %>">
              <button type="submit" class="btn btn-primary btn-stroke pull-right">
                <i class="fa fa-trash"></i></button>
            <% end %>
      </td>
	</tr>
<% end %>