<div>
  <div class="row">
    <div class="col-md-6">
      <h4><%= t("service_channels.sip_setting") %></h4><br>
    </div>
    <div class="col-md-6">
      <%= form_tag create_skills_agent_path(@user), method: :post, remote: true do %>
        <div class="input-group">
          <div class="styled-select">
            <%= select_tag :tag, options_for_select(@all_skills.collect(&:name)), include_blank: I18n.t('tags.please_select'), class: "form-control" %>
          </div>
          <div class="input-group-btn">
            <button type="submit" id="tokenfield-submit" class="btn btn-default btn-sm form-control"><%= I18n.t('user_dashboard.save') %>
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <% end %>
        </div>
  </div>
</div>
  <div class="col-md-12">
    <div style="background-color: #ffffff">
      <table class="table">
        <thead>
        <tr>
          <th><%= I18n.t('tags.skills') %></th>
          <th><%= I18n.t('user_dashboard.tasks') %></th>
          <th class="pull-right"><%= I18n.t('tags.delete') %></th>
        </tr>
        </thead>
        <tbody id="skillListData">
          <%= render "skill_lists" %>
        </tbody>
      </table>
    </div>
  </div>
