<div class="btn-group-block marginB10 report-action-buttons col-md-6">
    <button type="button" data-id="<%= @report.id %>" class="edit-btn <%= get_btn_class(@report) %>">
      <%= t('reports.comparison.edit')%> <i class="fa fa-fw fa-pencil-square-o"></i>
    </button>

    <button type="button" class="print-btn <%= get_btn_class(@report) %>" data-id="<%= @report.id %>">
      <%= t('reports.comparison.print')%> <span class="glyphicon glyphicon-print"></span>
    </button>

  <button type="submit" class="btn btn-default"><%= t('reports.comparison.save')%> <span class="glyphicon glyphicon-check"></span></button>

    <%= link_to @report, method: :delete, class: get_btn_class(@report), data: { confirm: t('reports.index.confirm_delete') } do %>
      <%= t('reports.comparison.delete') %> <span class="glyphicon glyphicon-trash" />
    <% end %>
</div>
