<div class="row ">
    <div class="col-xs-6 padd1">
        <a href="" class="widget-stats widget-stats-gray widget-stats-2 widget-stats-easy-pie txt-single">
            <div data-percent="<%= percentage_division(tasks_count[:sended], tasks_count[:sended]) %>" class="easy-pie primary">
              <span class="value">
                <%= percentage_division(tasks_count[:sended], tasks_count[:sended]) %>%
              </span>
            </div>
            <span class="txt"><%= t('reports.summary_report.sended')%></span>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="col-xs-6 padd1">
        <a href="" class="widget-stats widget-stats-gray widget-stats-2 widget-stats-easy-pie txt-single">
            <div data-percent="<%= percentage_division(tasks_count[:received], tasks_count[:sended]) %>" class="easy-pie primary">
              <span class="value">
                <%= percentage_division(tasks_count[:received], tasks_count[:sended]) %>%
              </span>
            </div>
            <span class="txt"><%= t('reports.summary_report.received')%></span>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
